<div class="row">
  <div class="col-md-3 col-sm-6" *ngFor="let gif of getGifs">
    <div class="text-center">
      <mat-card class="text-center bg-dark rounded-3 my-2" appearance="outlined">
        <img mat-card-image [src]="gif.images.downsized_medium.url" [alt]="gif.alt_text"
        class="card-img-top">
        <mat-card-content class="text-white">
          <p>
            {{ gif.title }}
          </p>
        </mat-card-content>
      </mat-card>
        </div>
      </div>
    </div>
<!--
    inyectar el servicio
    obetenr el array desde el servicio
    Hacer un ngFor para pintarlo aqui
-->
